.body{
  font-family: Arial;
  background-color: white;
}
.arejKaste {
  border-style: groove;
  padding: 20px 40px 30px 90px;
  margin: 50px 600px 50px 800px;
}
.iesniegt{
  border; 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
