.body{
  font-family: Arial;
  background-color: white;
}
.arejKaste {
  border-style: groove;
  width: 50%;
  height: 90%;
}
.iesniegt{
  border; 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
}
